<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Welcome, <%= user.username %></h1>
  <a href="/log-out">LOG OUT</a>
  <a href="/notes/create">Create</a>
  <h2>Your Notes</h2>
  <ul>
        <% notes.forEach(note => {  %>
            <li>
                <strong><%= note.heading %></strong>
                <%= note.content %> - <%= note.created_at %>
                <form action="/notes/<%= note.note_id%>?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit">Delete Note</button>
              </form>
            </li>
        <% }); %>
  </ul>
</body>
</html>
